@{
    ViewBag.Title = "Главная страница";
}

<div class="jumbotron">
    <h1>Экспонаты в картинной галерее</h1>
    <p class="lead">Выполнила: Исмакова Даяна, ИСИТ 189-1</p>
</div>

<div class="row ">

    <div class="col m-4 overflow-auto">
        <asp:GridView ID="Table1"
                      HorizontalAlign="Center"
                      Font-Names="Verdana"
                      Font-Size="8pt"
                      CellPadding="15"
                      runat="server">
            
        </asp:GridView>
    </div>

</div>