<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
      
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IService" />
        </basicHttpBinding>
        <netTcpBinding>
          <binding name="NetTcpBinding_IService1" />
        </netTcpBinding>
      </bindings>
      
      <client>
        <endpoint address="net.tcp://localhost:8733/Design_Time_Addresses/BIPIT_5_HOST/Service/"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService1"
          contract="ServiceReference1.IService1" name="TCP" />
        <endpoint address="http://localhost:8733/Design_Time_Addresses/BIPIT_5_HOST/Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
          contract="ServiceReference1.IService" name="BasicHttpBinding_IService" />
      </client>
      
    </system.serviceModel>
</configuration>